.App .container {
  background-color: #ffd7d7;
  width: 90%;
  padding: 50px 0px 0px 0px;
}

.App h1 {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.App h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

.App footer {
  font-size: 12px;
  padding: 5px 0px;
  text-align: center;
}

.App footer a {
  color: #f74c87;
}

.App footer a:hover {
  color: gray;
}
