:root {
  --primary-color: #f74c87;
}

.Dictionary form {
  margin-top: 10px;
  text-align: center;
}

.Dictionary .search-box {
  width: 55%;
  font-size: 14px;
  padding: 3px 3px;
}

.Dictionary .submit-button {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  margin-left: 2px;
  padding: 1px 10px;
  position: relative;
  top: 1px;
}

.Dictionary small {
  color: var(--primary-color);
}
